/* Remove page questions */
#page_admin_chatbot_pagelet,
/* Remove create links */
#createNav,
/* Remove "Your Pages" section in newsfeed */
#homepage_panel_pagelet,
/* Remove "Add Featured Photos" section */
._3-8o,
/* Remove "Featured Albums" section */
#profile_timeline_tiles_unit_pagelets_albums,
/* Remove "Did you know" section */
#profile_timeline_tiles_unit_pagelets_fun_fact_answers {
    display: none;
}

/* Hide Social Fixer logo when it's not being hovered on */
#sfx_badge_logo {
    opacity: 0;
}

/* Make notification width the same width as the page */
#content .UIStandardFrame_Content {
    width: 100%;
}